# Model files (large)
*.pth
*.h5
*.pt
*.ckpt
*.weights
*.pkl

# Dataset folders
Deepfake*/
DeepFake*/
dfd_*/
DFF/
Celeb V2*/
FaceForensics++*/
FakeAVCeleb*/
**/dataset*/
**/Dataset*/
YouTube Faces With Facial Keypoints*/
140k Real and Fake Faces*/

# Media files
*.jpg
*.jpeg
# *.png
*.mp4
*.avi
*.wav
*.mp3
*.flac
*.md
*.txt


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/

#exe
*.exe